.formulario{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    background: #FFFFFF;
    border: 0cap;
    width: 540px;
    height: 66px;
}